.product-container {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.product-container a {
  text-decoration: none !important;
  color: inherit;
  display: flex;
}

.product-container a:hover {
  text-decoration: none !important;
  color: inherit;
}
